{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                </div>
                <div class="card-body">
                    {{ form_row(form.description, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Description'}}) }}
                    {{ form_row(form.DatePublication, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Date de publication'}}) }}
                    {{ form_row(form.nom, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Nom'}}) }}
                    {{ form_row(form.groupe, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Groupe'}}) }}
                    <button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
