{% extends 'basegroupe.html.twig' %}

{% block title %}Post index{% endblock %}

{% block cc %}
    <div class="container">
        <h1 class="mb-4">Posts</h1>

        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.nom }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <p class="card-text">Publication Date: {{ post.DatePublication ? post.DatePublication|date('Y-m-d') : 'N/A' }}</p>
                            <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <p>No records found.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_post_new') }}" class="btn btn-success mt-3">Create New</a>
{% endblock %}
